.card-section{
  display:flex;
  justify-content:center;
  gap:20px;
  margin:40px 0;
}

.card-section img{
  width:160px;
  border-radius:15px;
  box-shadow:0 10px 25px rgba(0,0,0,0.4);
  transition:0.3s;
}

.card-section img:hover{
  transform:scale(1.1);
}
